<template>
  <div>

    <footer class="footer_in clearfix">
      <div class="container">
        <p>© 2020 Magnifica</p>
        <ul>
          <li><a href="#0" class="animated_link">Purchase this template</a></li>
          <li><a href="without_branch_layout_2.html" class="animated_link">Layout 2</a></li>
          <li><a href="faq.html" class="animated_link">Faq</a></li>
          <li><a href="prevention.html" class="animated_link">Prevention Tips</a></li>
        </ul>
      </div>
    </footer>
    <!-- /footer -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    components:{
      
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({
				
			}),
		},
    async mounted() {
      
    },
    methods: {

    }

  }
</script>
