<template>
  <div>

    <div class="container margin_60_35">
      <div class="row">
        <div class="col-lg-8">
          <h3>Contact us</h3>
          <p>
            Mussum ipsum cacilds, vidis litro abertis.
          </p>
          <div>
            <div id="message-contact"></div>
            <form method="post" action="assets/contact.php" id="contactform">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="name_contact">First Name</label>
                    <input type="text" class="form-control" id="name_contact" name="name_contact">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="lastname_contact">Last Name</label>
                    <input type="text" class="form-control" id="lastname_contact" name="lastname_contact">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="email_contact">Email</label>
                    <input type="email" id="email_contact" name="email_contact" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="phone_contact">Phone number</label>
                    <input type="text" id="phone_contact" name="phone_contact" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="message_contact">Your message</label>
                    <textarea rows="5" id="message_contact" name="message_contact" class="form-control" style="height:100px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="verify_contact">Are you human? 3 + 1 =</label>
                    <input type="text" id="verify_contact" class=" form-control">
                  </div>
                  <p><input type="submit" value="Submit" class="btn_1 add_bottom_15" id="submit-contact"></p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End col lg 9 -->
        <aside class="col-lg-4">
          <div class="box_style_2">
            <h4>Contacts info</h4>
            <p>
              11 Fifth Ave - New York, US
              <br> + 61 (2) 8093 3400
              <br>
              <a href="#">info@domain.com</a>
            </p>
            <h5>Get directions</h5>
            <form action="http://maps.google.com/maps" method="get" target="_blank">
              <div class="form-group">
                <input type="text" name="saddr" placeholder="Enter your location" class="form-control" style="background:none;">
                <input type="hidden" name="daddr" value="New York, NY 11430">
                <!-- Write here your end point -->
              </div>
              <input type="submit" value="Get directions" class="btn_1 add_bottom_15">
            </form>
            <hr class="styled">
            <h4>Departmens</h4>
            <ul class="contacts_info">
              <li>Administration
                <br>
                <a href="tel://003823932342">0038 23932342</a>
                <br><a href="tel://003823932342">admin@magnifica.com</a>
                <br>
                <small>Monday to Friday 9am - 7pm</small>
              </li>
            </ul>
          </div>
        </aside>
        <!--End aside -->
      </div>
      <!-- end row-->
    </div>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    components:{
      
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({
				
			}),
		},
    async mounted() {
      
    },
    methods: {

    }

  }
</script>
