<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <Header2 />

    <main id="general_page">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19864.623539539858!2d-0.1407216728393208!3d51.51178603603532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb878e81b3%3A0x91f10fa364452046!2sCovent+Garden%2C+Londra+WC2E+8BG%2C+Regno+Unito!5e0!3m2!1sit!2ses!4v1538380105649" width="600" height="450" allowfullscreen id="map_iframe"></iframe>
      <!-- end map-->
      <Contact />
      <!-- end container-->
    </main>

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header2 from '@/components/header2';
  import Contact from '@/components/form';
  import Footer from '@/components/footer';
  export default {
    components:{
      Header2,
      Contact,
      Footer
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({
				
			}),
		},
    async mounted() {
      
    },
    methods: {
      
    }

  }
</script>
