<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <Header2 />

    <section class="parallax_window_in" data-parallax="scroll" style="background-image: url('../assets/img/sub_header_1.jpg');background-size: 100%;">
      <div id="sub_content_in">
        <h1>COVID-19</h1>
        <p>Coronavirus Frequently Asked Questions</p>
      </div>
    </section>
    <!-- /section -->

    <main id="general_page">
      <div class="container margin_60_35">
        <div class="row">
          <aside class="col-lg-3" id="faq_cat">
              <div class="box_style_cat" id="faq_box">
                <ul id="cat_nav">
                  <li><a href="#section_1" class="active"><i class="icon_document_alt"></i>General Know How</a></li>
                  <li><a href="#section_2"><i class="icon_document_alt"></i>Symptoms & Testing</a></li>
                  <li><a href="#section_3"><i class="icon_document_alt"></i>How to Prepare</a></li>
                  <li><a href="#section_4"><i class="icon_document_alt"></i>If You Are Sick</a></li>
                </ul>
              </div>
              <!--/sticky -->
          </aside>
          <!--/aside -->
          
          <div class="col-lg-9" id="faq">
            <h4 class="nomargin_top">General Know How</h4>
            <div role="tablist" class="add_bottom_45 accordion_2" id="section_1">
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne_section_1" aria-expanded="true"><i class="indicator ti-minus"></i>How it spreads</a>
                  </h5>
                </div>

                <div id="collapseOne_section_1" class="collapse show" role="tabpanel" data-parent="#section_1">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_1" aria-expanded="false">
                      <i class="indicator ti-plus"></i>How serious is the coronavirus?
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo_section_1" class="collapse" role="tabpanel" data-parent="#section_1">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_1" aria-expanded="false">
                      <i class="indicator ti-plus"></i>What is the difference between exposure to a virus and infection?
                    </a>
                  </h5>
                </div>
                <div id="collapseThree_section_1" class="collapse" role="tabpanel" data-parent="#section_1">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
            </div>
            <!-- /accordion section 1 -->
            
            <h4 class="nomargin_top">Symptoms & Testing</h4>
            <div role="tablist" class="add_bottom_45 accordion_2" id="section_2">
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne_section_2" aria-expanded="true"><i class="indicator ti-plus"></i>Symptoms</a>
                  </h5>
                </div>

                <div id="collapseOne_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_2" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Testing
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_2" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Coronavirus Self-Checker
                    </a>
                  </h5>
                </div>
                <div id="collapseThree_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
            </div>
            <!-- /accordion section_2 -->
            
            <h4 class="nomargin_top">How to Prepare</h4>
            <div role="tablist" class="add_bottom_45 accordion_2" id="section_3">
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne_section_3" aria-expanded="true"><i class="indicator ti-plus"></i>How It Spreads</a>
                  </h5>
                </div>

                <div id="collapseOne_section_3" class="collapse" role="tabpanel" data-parent="#section_3">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_3" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Protect Yourself
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo_section_3" class="collapse" role="tabpanel" data-parent="#section_3">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_3" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Protect Your Family
                    </a>
                  </h5>
                </div>
                <div id="collapseThree_section_3" class="collapse" role="tabpanel" data-parent="#section_3">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
            </div>
            <!-- /accordion section_3 -->
            
            <h4 class="nomargin_top">If You Are Sick or Caring for Someone</h4>
            <div role="tablist" class="add_bottom_45 accordion_2" id="section_4">
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne_section_4" aria-expanded="true"><i class="indicator ti-plus"></i>What To Do if You Are Sick</a>
                  </h5>
                </div>

                <div id="collapseOne_section_4" class="collapse" role="tabpanel" data-parent="#section_4">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_4" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Caring for Yourself at Home
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo_section_4" class="collapse" role="tabpanel" data-parent="#section_4">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
              <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_4" aria-expanded="false">
                      <i class="indicator ti-plus"></i>Caring for Someone at Home
                    </a>
                  </h5>
                </div>
                <div id="collapseThree_section_4" class="collapse" role="tabpanel" data-parent="#section_4">
                  <div class="card-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- /card -->
            </div>
            <!-- /accordion Terms -->
            
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!--/container-->
    </main>

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header2 from '@/components/header2';
  import Footer from '@/components/footer';
  export default {
    components:{
      Header2,
      Footer
    },
    
    data() {
      return {
        action: '',
      }
    },

    computed: {
			...mapGetters({
				
			}),
		},

    async mounted() {

    },

    methods: {

    }

  }
</script>
