<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <Header2 />

    <section class="parallax_window_in" data-parallax="scroll" style="background-image: url('../assets/img/sub_header_1.jpg');background-size: 100%;">
      <div id="sub_content_in">
        <h1>Prevention COVID-19 Guide</h1>
        <p>Wes anderson cred nesciunt sapiente ea proident</p>
      </div>
    </section>
    <!-- /section -->

    <main id="general_page">
      <div class="container margin_60_35">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>Some useful tips</h2>
          <p>How to protecting yourself against Coronavirus</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_1.svg" width="70" height="70" alt=""></span>
              <h3>Wash Hands</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_2.svg" width="70" height="70" alt=""></span>
              <h3>Cover Coughs</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_3.svg" width="70" height="70" alt=""></span>
              <h3>Use Face Mask</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_4.svg" width="70" height="70" alt=""></span>
              <h3>Avoid Touching Eyes</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_5.svg" width="70" height="70" alt=""></span>
              <h3>Keep Distance</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_topic" href="#0">
              <span><img src="@/static/assets/img/prevention_icon_6.svg" width="70" height="70" alt=""></span>
              <h3>Desinfect Surfaces</h3>
              <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris.</p>
            </a>
          </div>
        </div>
        <!--/row-->
        <div class="main_title_3 add_top_30">
            <span><em></em></span>
            <h2>Popular articles</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
          </div>
          <div class="list_articles add_bottom_30 clearfix">
            <ul>
              <li><a href="#0"><i class="icon_documents_alt"></i>Et dicit vidisse epicurei pri</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Ad sit virtute rationibus efficiantur</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Partem vocibus omittam pri ne</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Case debet appareat duo cu</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Impedit torquatos quo in</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Nec omnis alienum no</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Quo eu soleat facilisi menandri</a></li>
              <li><a href="#0"><i class="icon_documents_alt"></i>Et dicit vidisse epicurei pri</a></li>
            </ul>
          </div>
          <!-- /list_articles -->
      </div>
    <!-- /container -->
      <div style="background-color: #fff">
        <div class="container margin_60_35">
          <div class="main_title_2">
            <span><em></em></span>
            <h2>Covid-19 Real Time Statistic</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
          </div>
          <div class="row">
            <div class="col-lg-12 add_bottom_30">
              <iframe style="background: #fff;border-radius: 5px; width: 100%;min-height: 600px; border:1px solid #ededed" src="https://www.bing.com/covid" frameborder="0"></iframe>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>

    </main>

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header2 from '@/components/header2';
  import Footer from '@/components/footer';
  export default {
    components:{
      Header2,
      Footer
    },
    
    data() {
      return {
        action: '',
      }
    },

    computed: {
			...mapGetters({
				
			}),
		},

    async mounted() {

    },

    methods: {

    }

  }
</script>
